
body {	
	background-color: black;
	color: #88CCFF;
	font-family: Arial;
    font-size: 10;
}

hr {
    border-color: #88CCFF;
}

th {
	border: none;
}

td {
	padding-left: 5px;
	padding-right: 5px;
	border: none;
}

button {
	background-image: linear-gradient( to bottom right, #222222, #444444 );
	color: #88CCFF;
    border-radius: 8px;
    border-top-color: #88CCFF;
    border-left-color: #88CCFF;
    border-right-color: #88CCFF;
    border-bottom-color: #88CCFF;
}

.graph {
	background-image: linear-gradient( to bottom right, #000000, #222222 );
    color: white;
    width: 100%;
}

.tableaxislabel {
	background-image: linear-gradient( to bottom right, #222222, #444444 );
	color: #88CCFF;
}

.tablevalue {
	text-align: right;
	color: #88CCFF;
}

.datatable {
    vertical-align: top;
    table-layout: fixed;
    width: 100%;
}

