
body {	
	background-color: #FFFFFF;
	color: #4488CC;
	font-family: Arial;
}

hr {
    border-color: #4488CC;
}

th {
	border: none;
}

td {
	padding-left: 5px;
	padding-right: 5px;
	border: none;
}

button {
	background-image: linear-gradient( to bottom right, #FFFFFF, #CCCCCC );
	font-size: 20px;
	color: #4488CC;
    border-radius: 8px;
    border-top-color: #4488CC;
    border-left-color: #4488CC;
    border-right-color: #4488CC;
    border-bottom-color: #4488CC;
}

.graph {
	background-image: linear-gradient( to bottom right, #FFFFFF, #666666 );
    color: #224488;
}

.tableaxislabel {
	background-image: linear-gradient( to bottom right, #FFFFFF, #CCCCCC );
	font-size: 20px;
	color: #4488CC;
}

.tablevalue {
	text-align: right;
	font-size: 20px;
	color: #224488;
}

.datatable {
    vertical-align: top;
}

